.linksuiv {
    font-size:45px;
    font-weight:bold;
    margin-top:25px;
    margin-left:50%;
}

.main {
    background-color: #F3F3F3;
    font-family:larseit;
    font-size:16px;
    margin-left: 35px;
}

.jobad{
    margin-top:45px;
}

h1 {
    font-family:vidaloka;
   
} 

h2 {
    font-family:vidaloka;
   
}

h3 {
   font-family:larseit;
}

/* polices */
@font-face {
    font-family: larseit;  
    src: url(./fonts/LarsseitLight.otf) format('truetype');
}

@font-face {
    font-family: vidaloka;  
    src: url(./fonts/Vidaloka-Regular.otf) format('truetype');
}
