.linksuiv {
    font-size:45px;
    font-weight:bold;
    margin-top:25px;
    margin-left:50%;
}

.main {
    background-color: #F3F3F3;
    font-family:larseit;
    font-size:16px;
    margin-left: 35px;
}

.jobad{
    margin-top:45px;
}

.foundkw{
    color:#3374FF;
    font-family:vidaloka;
    font-size:25px;
}

.sitefrom {
    color:#113E9C;
    font-family:vidaloka;
    font-size:25px;
}

h1 {
    font-family:vidaloka;
    font-size:10rem !important;
} 

h2 {
    font-family:vidaloka;
   
}

h3 {
   font-family:larseit;
}

.face-pile, .see-who-was-hired, .topcard__logo-container, .details-pane__loader, .ellipsis-menu {
    visibility: hidden;
    display: none;
}

.show-more-less-html__button show-more-less-html__button--more, .show-more-less-html__button show-more-less-html__button--less {
    visibility: hidden;
    display: none;
}



/* polices */
@font-face {
    font-family: larseit;  
    src: url(./fonts/LarsseitLight.otf) format('truetype');
}

@font-face {
    font-family: vidaloka;  
    src: url(./fonts/Vidaloka-Regular.otf) format('truetype');
}
